{% extends 'base.html' %}

{% block title %}
    메인페이지
    
{% endblock %}
{% block content %}
{% load static %}
<div class="main_container" >
    <div class="img_container">
        <div class="detail_img">
            <img class ="de_img" src="{{ img }}">
            <div class="img_box">
                <div class="img_boxline">
                    <p>{{ store }}</p>    
                </div>                
            </div> 
        </div>
    </div>
</div>
    
    <div class="line_container">
        <div class="map_line">
    </div>        
    </div>
    <div class="map_container">
        <div class="map_sec_container">
            <div id ="map">
                
            </div>
            <div class="map_text">
                <p>
                    주소 {{ address }} <br>
                    전화번호 {{ tel }} <br>
                    가격대 {{ price }}<br>
                    주차 {{ parking }}<br>
                    영업시간 {{ close }}<br>
                    휴일 {{ holliday }}
                </p>
            </div>
            
        </div>
    </div>
    <div class="line_container">
        <div class="map_line">
    </div>        
    </div>
    <div class="container_comment">
        <form class="form_comment" method="post" action="/detail/{{ id }}/">
            {% csrf_token %}
            <div class="star_box">
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="star" value="5" />
                    <label for="5-stars" class="star">⭐</label>
                    <input type="radio" id="4-stars" name="star" value="4" />
                    <label for="4-stars" class="star">⭐</label>
                    <input type="radio" id="3-stars" name="star" value="3" />
                    <label for="3-stars" class="star">⭐</label>
                    <input type="radio" id="2-stars" name="star" value="2" />
                    <label for="2-stars" class="star">⭐</label>
                    <input type="radio" id="1-star" name="star" value="1" />
                    <label for="1-star" class="star">⭐</label>
                </div>
            </div>
            <div class="text_box">
                <textarea type="text" class="textarea_comment" name="comment"></textarea>
                <input type="submit" value="전송" class="input_comment">
            </div>
            {% if error == '코멘트 내용 없음' %}
                <script>
                    alert('내용을 입력해주세요')
                </script> 
            {% elif error == '평점 입력하지 않음' %}
                <script>
                    alert('평점을 입력해주세요')
                </script>
            {% endif %}
        </form>
        <a class="star_avg">⭐ <span>{{ staravg }}</span></a>
        <div class="comment_list">
            {% for comment in comments %}
                <ul class="comment_box">
                    <div class="name_star_box">
                        <span class="username">{{ comment.username}}</span>
                        {% if comment.star == 1.0 %}
                            <span class="star">⭐</span>
                        {% elif comment.star == 2.0 %}
                            <span class="star">⭐⭐</span>
                        {% elif comment.star == 3.0 %}
                            <span class="star">⭐⭐⭐</span>
                        {% elif comment.star == 4.0 %}
                            <span class="star">⭐⭐⭐⭐</span>
                        {% else %}
                            <span class="star">⭐⭐⭐⭐⭐</span>
                        {% endif %}
                    </div>
                    <span class="comment">{{ comment.comment}}</span>
                    {% if comment.star == 1.0 %}
                        <span class="star">⭐</span>
                    {% elif comment.star == 2.0 %}
                        <span class="star">⭐⭐</span>
                    {% elif comment.star == 3.0 %}
                        <span class="star">⭐⭐⭐</span>
                    {% elif comment.star == 4.0 %}
                        <span class="star">⭐⭐⭐⭐</span>
                    {% else %}
                        <span class="star">⭐⭐⭐⭐⭐</span>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>
    </div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ec4fa832cd43340ddfe6fa526aad566d&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map')// 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('{{ address }}', function (result, status) {

        // 정상적으로 검색이 완료됐으면 
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            var imageSrc = '/static/img/marker.png', // 마커이미지의 주소입니다    
                imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다
            
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다
            // 결과값으로 받은 위치를 마커로 표시합니다
        
            var marker = new kakao.maps.Marker({
                image: markerImage,
                map: map, 
                position: coords
            });

            map.setCenter(coords);

        }
    });  
</script>
    {% endblock %}