<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>

<body>
    <div class="container_comment">
        <form class="form_comment" method="post">
            {% csrf_token %}
            <div class="star_box">
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5" />
                    <label for="5-stars" class="star">⭐</label>
                    <input type="radio" id="4-stars" name="rating" value="4" />
                    <label for="4-stars" class="star">⭐</label>
                    <input type="radio" id="3-stars" name="rating" value="3" />
                    <label for="3-stars" class="star">⭐</label>
                    <input type="radio" id="2-stars" name="rating" value="2" />
                    <label for="2-stars" class="star">⭐</label>
                    <input type="radio" id="1-star" name="rating" value="1" />
                    <label for="1-star" class="star">⭐</label>
                </div>
            </div>
            <div class="text_box">
                <textarea type="text" class="textarea_comment"></textarea>
                <input type="submit" value="전송" class="input_comment">
            </div>
        </form>
        <a class="star_avg">평점 <span>4.5</span></a>
        <div class="comment_list">
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username10</span>
                <span class="comment">코멘트가 들어가는 곳입니다코멘트가 들어가는 곳입니다코멘트가 들어가는 곳입니다코멘트가 들어가는 곳입니다코멘트가 들어가는 곳입니다코멘트가 들어가는
                    곳입니다코멘트가 들어가는 곳입니다코멘트가 들어가는
                    곳입니다코멘트가 들어가는
                    곳입니다코멘트가 들어가는
                    곳입니다코멘트가 들어가는
                    곳입니다코멘트가 들어가는
                    곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
            <ul class="comment_box">
                <span class="username">username</span>
                <span class="comment">코멘트가 들어가는 곳입니다</span>
                <span class="star">⭐⭐⭐⭐⭐</span>
            </ul>
        </div>
    </div>
</body>

</html>