{% extends 'base.html' %}

{% block title %}
    메인페이지
    
{% endblock %}
{% block content %}

    <div class="container_comment">
        <form class="form_comment" method="post" action="/detail/{{ id }}/">
            {% csrf_token %}
            <div class="star_box">
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="star" value="5" />
                    <label for="5-stars" class="star">⭐</label>
                    <input type="radio" id="4-stars" name="star" value="4" />
                    <label for="4-stars" class="star">⭐</label>
                    <input type="radio" id="3-stars" name="star" value="3" />
                    <label for="3-stars" class="star">⭐</label>
                    <input type="radio" id="2-stars" name="star" value="2" />
                    <label for="2-stars" class="star">⭐</label>
                    <input type="radio" id="1-star" name="star" value="1" />
                    <label for="1-star" class="star">⭐</label>
                </div>
            </div>
            <div class="text_box">
                <textarea type="text" class="textarea_comment" name="comment"></textarea>
                <input type="submit" value="전송" class="input_comment">
            </div>
            {% if error == '코멘트 내용 없음' %}
                <script>
                    alert('내용을 입력해주세요')
                </script> 
            {% elif error == '평점 입력하지 않음' %}
                <script>
                    alert('평점을 입력해주세요')
                </script>
            {% endif %}
        </form>
        <a class="star_avg">평점 <span>{{ staravg }}</span></a>
        <div class="comment_list">
            {% for comment in comments %}
                <ul class="comment_box">
                    <span class="username">{{ comment.username}}</span>
                    <span class="comment">{{ comment.comment}}</span>
                    {% if comment.star == 1.0 %}
                        <span class="star">⭐</span>
                    {% elif comment.star == 2.0 %}
                        <span class="star">⭐⭐</span>
                    {% elif comment.star == 3.0 %}
                        <span class="star">⭐⭐⭐</span>
                    {% elif comment.star == 4.0 %}
                        <span class="star">⭐⭐⭐⭐</span>
                    {% else %}
                        <span class="star">⭐⭐⭐⭐⭐</span>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
