@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KyoboHand';

}

body,
h1,
p {
    margin: 0;
}

.main {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.user_info {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid rgb(193, 192, 192);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.user_info span:nth-child(1) {
    background-color: #410dff;
    color: aliceblue;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 5px;
}

.user_info a {
    text-decoration: none;
    background-color: #ff420e;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 20px;
}

.logo {
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.logo div img {
    width: 200px;
    height: 200px;
}

.logo_text {
    position: absolute;
    top: 30px;
    right: -70px;
}

.input_box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 30px;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.input_box input {
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #cecece;
}

.input_box input:focus {
    outline: none;

}

.serch button {
    cursor: pointer;
    color: white;
    display: flex;
    background-color: #ff420e;
    justify-content: center;
    align-items: center;
    right: 0px;
    position: absolute;
    width: 80px;
    border-radius: 20px;
    height: 100%;
    outline: none;
    border: none;
    font-size: 18px;
}

.glass {
    position: absolute;
    left: 10px;
    top: 8px;
    background: rgb(255, 255, 255);
}

.serch_text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    font-size: 16px;
}

.event {
    background: rgb(255, 255, 255);
}

.serch_text span {
    color: #ff420e;
    font-weight: bold;
}

.fa-solid {
    color: #ff420e;
}

.scorll_container {
    top: 1050px;
    position: sticky;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.scroll img {
    left: 87%;
    position: absolute;
    width: 270px;
    height: 270px;
}

.logo_model a {
    background: none;
}

.logo_model a img {
    width: 60px;
    height: 60px;
}

.nav_logo_title {
    font-size: 20px;
    font-weight: bold;
    color: #ff420e;
}

.nav_logo_title span:nth-child(1) {
    background: rgb(155, 71, 71);
    color: aliceblue;
}

.nav_logo_title span {
    font-size: 25px;
    color: rgb(0, 166, 255);
}

.scroll_box {
    display: flex;
    align-items: center;
    width: 100px;
    position: relative;
}

.scroll-top {
    position: absolute;
}

.scroll-top a {
    background-color: #ffff00;
    color: black;
}

@media (max-width: 740px) {
    .input_box {
        width: 400px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .input_box {
        margin-right: 20px;
        width: 330px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .serch_text {
        margin-right: 40px;
    }
}

@media (max-width: 420px) {
    .logo div img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 420px) {
    .logo_text {
        top: 19px;
        right: -10px;
    }
}

@media (max-width: 420px) {
    .logo {
        top: 15px;
        margin-right: 50px;
    }
}

@media (max-width: 520px) {
    .input_box {
        margin-right: 20px;
    }
}

@media (max-width: 520px) {
    .logo {
        margin-right: 40px;
    }
}

@media (max-width: 780px) {
    .user_info {
        flex-direction: column;
        height: 150px;
    }

    .scroll-top {
        top: -82px;
    }

    .main {
        padding-top: 150px;
    }

}

@media (max-width: 2000px) {
    .scroll img {
        left: 83%;
    }
}

@media (max-width: 1500px) {
    .scroll img {
        left: 78%;
    }
}

@media (max-width: 1200px) {
    .scroll img {
        left: 78%;
    }
}

@media (max-width: 1000px) {
    .scorll_container .scroll img {
        display: none;
    }
}