@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KyoboHand';
    
}

body, h1, p {
    margin: 0;
}

.main {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user_info {
    display: flex;
    width: 90%;
    justify-content: end;
    margin: 10px;
}

.user_info span {
    background-color: #89da59;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 5px;
}

.user_info a {
    text-decoration: none;
    background-color: #ff420e;
    color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 20px;
}

.logo {
    width: 430px;
    display: flex;
    justify-content: center;
    position: relative;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.logo div img {
    width: 200px;
    height: 200px;
}

.logo_text {
    position: absolute;
    top: 30px;
    right: 0;
}

.input_box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 30px;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.input_box input {
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #cecece;
}

.input_box input:focus {
    outline: none;
}

.serch {
    cursor: pointer;
    color: white;
    display: flex;
    background-color: #ff420e;
    justify-content: center;
    align-items: center;
    right: 0px;
    position: absolute;
    width: 80px;
    border-radius: 20px;
    height: 100%;
}

.glass{
    position: absolute;
    left: 10px;
    top: 8px;
    background: rgb(255, 255, 255);
}
.serch_text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    font-size: 14px;
}

.event{
    background: rgb(255, 255, 255);
}

.serch_text span{
    color : #ff420e;
    font-weight: bold;
}


.fa-solid {
    color : #ff420e;
}

@media (max-width: 740px) {
    .input_box {
        width: 400px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .input_box {
        width: 330px;
        height: 35px;
    }
}

@media (max-width: 420px) {
    .serch_text {
        margin-right: 40px;
    }
}

@media (max-width: 420px) {
    .logo div img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 420px) {
    .logo_text {
        top: 19px;
        right: 53px;
    }
}

