@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KyoboHand';
    
}


.container_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.star_box {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.star-rating {
    background-color: #F9AB5E;
    border: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1em;
    padding: 0.2em;
    text-align: center;
    justify-content: center;
    width: 9em;
    margin: 10px;
}

.star-rating input {
    display:none;
}

.star-rating label {
    background-color: #F9AB5E;
    color: transparent;
    text-shadow: 0 0 0 white;
    cursor:pointer;
}

.star-rating :checked ~ label {
    text-shadow: 0 0 0 #ff0000;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    text-shadow: 0 0 0 #ff0000;
}

.text_box {
    min-height: 100px;
    width: 676px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    border: solid 2px #FF7F00;
    border-radius: 20px;
    padding: 10px;
}

.textarea_comment {
    flex-grow: 1;
    min-height: 100px;
    border: 0;
    background-color: transparent;
    outline: none;
    resize: none;
}

.input_comment {
    width: 60px;
    height: 30px;
    background-color: #FF7F00;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 30px;
}

.star_avg {
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
}

.comment_list {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_box {
    width: 100%;
    min-height: 70px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
}

.comment_box > .username {
    min-width: 120px;
    background-color: #F9AB5E;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    color: white;
}

.comment_box > .comment {
    flex-grow: 1;
    text-align: center;
    background-color: transparent;
    margin: 15px 0 15px 15px;
}

.comment_box > .star {
    min-width: 113px;
    text-align: right;
    background-color: transparent;
    font-size: 15px;
    color: transparent;
    text-shadow: 0 0 0 #ff0000;
}

.img_container {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
}

.detail_img {
    position: relative;
    display: flex;
    width: 1000px;
    justify-content: center;
}
.de_img{
    width: 100%;
    height: 100%;
}
.img_box{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img_boxline{

    background-color: rgba( 255, 255, 255, 0.5 );
    width: 500px;
    height: 150px;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.img_boxline p{
    color: white;
    font-size: 40px;
}

.line_container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: 1px;
}
.map_line {
    display: flex;
    width: 800px;
    height: 1px;
    background-color: #CACACA;
}

.map_container {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 300px;
}

.map_sec_container{
    display: flex;
    justify-content: space-around;
    width: 900px;
    height: 300px;
    text-align: center;
}

.map_sec_container div{
    height: 300px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 20px;
    
    
}

.map_sec_container #map{
    width: 400px;
    height: 300px;
}