@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    font-family: 'KyoboHand';
}

body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.name {
    font-size: 30px;
    margin-right: 20px;
    
}

.dolchuwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dolchuimg {
    width: 230px;
}

.mainfoodimg {
    width: 1200px;
    min-width: 400px;
    height: 400px;
    opacity: 0.8;
    margin-bottom: 30px;
    object-fit : cover;
    filter: drop-shadow(3px 3px 3px #F9AB5E);



}

.mainfoodtext {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 460px;
}

.mainfoodwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.category {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.food {
    display: flex;

    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    flex-shrink: 0;
    width: 100px;


}

.listwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 100px;
    font-size: 30px;
    margin-bottom: 50px;
}

.list:hover {
    color: #F9AB5E;
    cursor: pointer;
    font-size: 33px;
}

.storeimg {
    border-radius: 60%;
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.storedetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-right: 200px;
}

.m-storelist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.d-storelist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.storename {
    color: #F9AB5E; 
}
