@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    font-family: 'KyoboHand';
}

body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.name {
    font-size: 30px;
    margin-right: 20px;
    
}

.dolchuwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dolchuimg {
    width: 230px;
}

.mainfoodimg {
    max-width: 1000px;
    max-height: 300px;
    min-width: 400px;
    width: 100%; height: 100%;
    opacity: 0.8;
    margin-bottom: 30px;
    object-fit : cover;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25)); 
    border-radius: 25px;
}

.mainfoodtext {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 420px;
}

.mainfoodwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

@media (max-width:400px){
    .category{
        flex-wrap: wrap;
    }
    .mainfoodtext {
        top: 380px;
        font-size: 27px;
    }
    .storeimg {
        margin-left: 15px;
    }
    .storedetail {
        margin-right: 15px;
    }
    hr {
        max-width: 400px;
    }

}



.food {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    min-width: 100px;
}

.listwrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 30px;
    font-size: 30px;
    margin-bottom: 50px;
}

.list:hover {
    color: #F9AB5E;
    cursor: pointer;
    font-size: 33px;
}

.m-storelist {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25)); 
    border-radius: 25px;
}
 
.storeimg {
    border-radius: 60%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.storedetail {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    width: 300px;
    align-items: center;
    margin-left: 20px;
} 

.d-storelist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.storename {
    color: #F9AB5E; 
}
