@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

* {
    font-family: 'KyoboHand';
}

body {
    margin: 0;
    background-color: #f98866cb;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.name {
    font-size: 30px;
    margin-right: 20px;
    
}

.dolchuwrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dolchuimg {
    width: 230px;
}

.mainfoodimg {
    position: relative;
    width: 80%;
    max-width: 800px;
    max-height: 400px;
    min-width: 350px;
    /* width: 100%; height: 100%; */
    opacity: 0.8;
    /* margin-bottom: 30px; */
    object-fit : cover;
    /* filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));  */
    border-radius: 25px;
}
.mainfoodtext {
    padding: 50px 150px;
    background-color: rgba( 255, 255, 255, 0.5 );
    color: rgb(0, 0, 0);
    font-size: 35px;
    position: absolute;
    border-radius: 20px;
    /* top: 420px; */
}
.mainfoodtext h1{
    color: rgb(255, 255, 255);
}

.mainfoodimgs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainfoodwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.category {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.kfoodimg{
    font-size: 70px;
}
.kfoodtext{
    font-size: 30px;
}

.food {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    min-width: 100px;
}

.listwrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
}

.list {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 243, 107);
    margin: 50px 50px;
    font-size: 30px;
    margin-bottom: 50px;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    transition: all .2s ease-in-out;
}

.list:hover {
    color: #F9AB5E;
    cursor: pointer;
    transform: scale(1.1);
}
.m-storelist div img{
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
}

#m-storelist{
    display: flex;
    justify-content: center;
}

.m-storelist {
    margin: 30px 20px;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    align-items: center;

    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25)); 
    border-radius: 25px;
}
.m-storelist div{
    margin: 0px 50px;
}
 
.storeimg {
    border-radius: 60%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.storedetail {
    background-color: bisque;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 400px;
    align-items: center;
    margin-left: 20px;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
} 

.d-storelist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.storename {
    color: #ff420e;
}
.notstar{
    
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.notstar div{
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    width: 60%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background: #89da59;
    padding: 30px;
}

@media (max-width:790px){
    .food{
        flex-basis: 20%;
    }
    .kfoodimg{
        font-size: 30px;
    }
    .category{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .kfoodtext{
        font-size: 20px;
    }
    .m-storelist div img{
        width: 100px;
        height: 100px;
        margin: 0px 15px;
    }
    .storedetail{
        font-size:12px;
    }
    .list{
        font-size: 17px;
    }
    .m-storelist div{
        margin: 0px;
    }
    .mainfoodtext{
        padding: 30px 70px;
        font-size: 15px;
    }
    .mainfoodimg{
        width: 350px;
    }
}