* {
    font-family: 'KyoboHand';
}

.container {
    display: flex;
    justify-content: center;
}

.items {
    max-width: calc(370px * 3);
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 20px 10px;
    align-content: flex-start;
    filter: drop-shadow(5px 25px 25px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}

.item a {
    max-width: 350px;
    color: black;
    text-decoration-line: none;
}

.item img {
    border-radius: 25px;
    max-height: 350px;
    object-fit: contain;
}

.item span {
    color: transparent;
    text-shadow: 0 0 0 #ff420e;
    font-size: 20px;
}

h2 {
    color: black;
    max-width: 350px;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
}

.notcomment {
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background: #89da59;
    padding: 30px;
}

@media (max-width: 1130px) {
    .items {
    max-width: calc(370px * 2);
    }
}

@media (max-width: 760px) {
    .items {
    max-width: calc(370px * 1);
    }

    .notcomment {
        font-size: 30px;
        padding: 10px;
    }
}