@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KyoboHand';
}

body,
h1,
p {
    margin: 0
}

.logo {
    width: 300px;
}

.logo_model {
    width: 150px;
}

.logo_model_box {
    justify-content: center;
    display: flex;
    width: 400px;
}

.logo_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_title div {
    margin: 5px 0px;
}

.logo_title div span {
    color: #ff420e;
    font-size: 25px;
    font-weight: bold;
}

.main {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f98866cb;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_input {
    /* position: relative; */
    width: 350px;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #F9AB5E;
    color: #ff420e;
    text-align: center;
    font-size: 12px;
}

.login_input_icon img {
    width: 30px;
    height: 30px;
}

.main div input:focus {
    outline: none;
}

.main div input::placeholder {
    color: #cecece;
}

.login_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ff0000;
    color: white;
    border-radius: 10px;
    font-size: 13px;
}

.error span {
    margin-left: 5px;
}

.let_join {
    background: white;
    color: #ff420e;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
}

.login_input_box {
    position: relative;
}

.login_input_icon {
    top: 24px;
    left: 15px;
    position: absolute;
}

.login_submit {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    margin: 10px 5px;
    background-color: #F9AB5E;
    color: white;
    cursor: pointer;
}

.sucsess {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #F9AB5E;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 25px;
}

.sucsess div:nth-child(2) {
    cursor: pointer;
}

.logologo {
    width: 150px;
    height: 150px;
    position: absolute;
    cursor: pointer;
    text-align: center;

    animation-name: leftani;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;


}

.sucsess a {
    text-decoration: none;
    color: black;
}

.logo_box {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
    position: relative;
}

@keyframes leftani {
    0% {
        /* transform: rotateY(360deg); */
        /* left: 100px; */
        width: 350px;
        height: 350px;
    }

    100% {
        /* transform: rotateY(0deg); */
        /* left: 0; */
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 300px;
    }

    .login_input {
        width: 250px;
    }

    .logo_model {
        width: 100px;
    }

    .sucsess a div {
        font-size: 20px;
    }

    input,
    select,
    textarea {
        font-size: 16px;
        /* transform: scale(0.86); */
    }


}