{% extends 'base.html' %}

{% block title %}
검색
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'mypage.css' %}">
<link rel="stylesheet" href="{% static 'search.css' %}">

<div class="container">
    <div class="items">
        {% for results in result %}
        <div class="item">
            <a href="/detail/{{ results.id }}">
                <img src="{{ results.img }}">
                <h1>
                    {{ results.store }}
                    <span class="category">{{ results.category.category}}</span>
                </h1>
                <p class="staravg">평점 {{ results.staravg }}</p>
                <p class ="address">{{ results.address}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}